html, body {
    margin: 0;
    font-family: arial, "Microsoft YaHei";
    background-color: #272822;
    color: #FEFEFE;
}
#fileWrapper{
	transition:all 0.5s ease;
}
#fileWrapper:hover{
	opacity: 1!important;
}

#visualizer_wrapper{
	text-align: center;
}
footer{
	position: fixed;
	bottom: 2px;
	color:#aaa;
}
#info{text-align:center;font-size:40px;line-height:100px;}
#info span{font-family:"»ªÎÄÐÐ¿¬";}
.sel_file{width:501px;height:50px;margin:0 auto;font-size:20px;}
